/* ---------------------------- */
/*       RESET STYLES           */
/* ---------------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul,
ol elements with a list role,
which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------------- */
/*      END RESET STYLES        */
/* ---------------------------- */

/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

:root {
  --main-color: hsla(33, 57%, 35%, 1);
  --font-family: 'Montserrat', sans-serif;
}


.App {
  text-align: center;
  background: url("./assets/main-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 1rem;
  padding-block: 3.18rem;
}

.wrapper {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 37.375rem;
}

.form-inputs-container {
  border: none;
}

.form-input-container {
  width: 100%;
  max-width: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 2.5rem;
  margin-inline: auto;
  position: relative;
}

.main-title {
  color: var(--main-color);
  font-size: 1.68rem;
  font-weight: 700;
  line-height: 1.22;
}

.sub-title {
  font-size: 1.38rem;
  color: var(--main-color);
  font-weight: 700;
  line-height: 1.22;
  margin-top: 1.5rem;
}

.form-input {
  width: 100%;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid gray;
  /* padding-block: .75rem; */
}

.img-logo {
  margin: auto;
  padding-top: 0.5rem;
}

.main {
  width: 90%;
  max-width: 37.375rem;
  margin: auto;
  padding-bottom: 1.5rem;
}

.form {
  padding-block: 2rem;
}

.customer-password,
.customer-confirm-password {
  position: relative;
}

.customer-password::before,
.customer-confirm-password::before {
  position: absolute;
  content: "";
  bottom: 0.5rem;
  right: 1rem;
  background: url("./assets/Vector.svg");
  background-color: var(--main-color);
  background-repeat: no-repeat;
  width: 1rem;
  height: 0.75rem;
}

label.label {
  align-self: baseline;
  color: var(--main-color);
  font-size: 1.06rem;
  font-weight: 400;
}

label.error__alert {
  color: red;
  font-size: 0.75rem;
  position: absolute;
  bottom: -1.5rem;
}

.alt-sign-in {
  color: var(--main-color);
  font-size: 1.16rem;
  line-height: 1.22;
}

.alt-sign-in a {
  font-weight: 700;
  color: var(--main-color);
}

button.btn {
  background-color: var(--main-color);
  width: 100%;
  font-family: var(--font-family);
  margin-block: 1rem;
}